body{
  background:black;
  color:white;
  font-family:'Arvo',serif;
}
h1{
  font-size:2em;
  text-align:center;
}
h2{
  margin-top:.2em;
  margin-bottom:.2em;
  font-size:1.5em;
  text-align:center;
}
p{
  margin:auto;
  text-align:center;
  width:60%;
  padding-bottom:1em;
}
