<!DOCTYPE html>
{% block body %}
<html lang="en">
	<head>
        <link rel="icon" type = "image/png" href="{{ url_for('static',filename='images/About/thinking.ico.png')}}"> 
		<meta charset="utf-8">
         <link href={{url_for('static',filename='css/bootstrap3_defaultTheme/dist/css/bootstrap.css')}} rel="stylesheet">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<link rel="stylesheet" type=text/css href="{{url_for('static',filename='css/AboutCss.css') }}">
		<link href="https://fonts.googleapis.com/css?family=Lobster" rel="stylesheet">
		<title>Wiki Eats - 	About Us</title>
		
	</head>
	<body>
		{% include 'WikiEatsHeader.html' %}
		<div class="container">
			<div class="row">
				<div class='col-md-12' id='description'>
					<h1>Wiki Eats<small><br/>Git Hungry</small></h1>
					<img src="../../static/images/recipeimages/27.png" alt="chefHat" width="460" height="345">
					<h2>About Us</h2>
					<p>It's like Wikipedia, but for recipes, where all of our recipes are submitted by users like you!
						Users can also rate their favorite recipes, browse recipes by their favorite categories, and browse recipes of their favorite users.</p>
					<h2>New Features Added</h2>
					<p>We now have social capabilities! Users can now create groups. Groups can be used to connect people or manage recipes for catering. Users can also follow other people.</p>
				</div>

				<div class="col-md-12" id='developers'>
					<h1>Developers</h1>
					<div class="col-md-10 col-md-offset-1" id='developer'>
						<div id="profile">
							<h3>Aploinar Ortega<small><br/>Lead Front-End Devloper</small></h3>
							<div class='col-md-6'>
								<p id="authorsnotes"> "I don't know about business, but recipe #85 is best."</p>
							</div>
							<img class='col-md-6' id="image" src="../static/images/About/apple.jpg">
						</div>
					</div>
						<hr/>
						<br/>
					<div class="col-md-10 col-md-offset-1" id='developer'>
						<div id="profile">
							<h3>Aaron Zhang<small><br/>Lead Back-End Devloper</small></h3>
							<div class='col-md-6'>
								<img id="image" src="../static/images/About/yangwenli.jpg">
							</div>
									
							<p class='col-md-6' id="authorsnotes"> "Truly the best thing in the business since sliced bread, and we probably have a recipe for that."</p>
						</div>
					</div>
				</div>

			</div>
		</div> 
	</body>	
</html>

{% endblock %}
