<!doctype html>
<title>Aaron Zhang</title>
<head>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
</head>
<link rel=stylesheet type=text/css href="{{ url_for('static',filename='css/reset.css' ) }}">
<link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">
<div id="header">
<h1 id="mainheader">Aaron Zhang</h1>

<link rel=stylesheet type=text/css href="{{ url_for('static',filename='css/header.css') }}">
  <ul id="menu">
    <li class="menu main"><a href="{{url_for('main_page')}}">Main Page</a></li>
    <li class="menu main"><a href="{{url_for('morse')}}">Morse Messenger</a></li>
    <li class="menu main"><a href="{{url_for('wikieats')}}">Wiki Eats</a><li>
    <li class="menu main"><a href="http://github.com/aaronzhang1234">Github</a></li>
    <li class="menu main"><a href="http://medium.com/@nimbyest">Blog</a></li>
    <li class="main"><a href="https://www.twitter.com/FirstOnAiry"><img src="../static/images/twitter.png" width="40px" height="40px"></a></li>
  </ul>
<hr>
</div>

