{% block body %}
  {% include 'header.html' %}
  <link href="https://fonts.googleapis.com/css?family=Arvo" rel="stylesheet">
  <link rel=stylesheet type=text/css href="{{ url_for('static',filename='css/main_page.css') }}">
  <style>
    body{
    background:white;
    color:black;
    font-family:'Arvo',serif;
    }
    h1{
      font-size:6em;
      text-align:center;
    }
    h2{
      margin-top:.2em;
      margin-bottom:.2em;
      font-size:5em;
      text-align:center;
    }
    p{
      margin:auto;
      text-align:center;
      font-size:3em;
      width:60%;
      padding-bottom:1em;
    }
#picture{
        height:40%;
        width:40%;
        display:block;
        margin-left:auto;
        margin-right:auto;
        border-radius:50%;
    }
  </style>
  <h1>Hi, I'm Aaron</h1>
  <img id=picture src= "{{url_for('static', filename='images/aaron.jpg')}}">
  <h2>About Me</h2>
  <p>I am a Junior at Wayne State University studying Computer Science.</p>
  <h2>Outside of School</h2>
  <p>Currently I am volunteering in the Computer and Systems Security Lab at Wayne State University doing research about CANBUS. I also attempt to do bug bounties.</p>
  <h2>Hobbies and Other Interests</h2>
  <p>I am an avid learner of history and the arts, especially classical music and old stories.</p>
{% endblock %}
