{% block body %}
  {% include 'header.html' %}
  <h1> English 3050 </h1>
  <a href='../static/techcom/analyticmemo.pdf'><h2>Assignment 1</h2></a>
  <a href='../static/techcom/assignment2.pdf'><h2>Assignment 2</h2></a>
  <a href='../static/techcom/projectproposal.pdf'><h2>Assignment 3</h2></a>
  <a href='../static/techcom/instructions.pdf'><h2>Assignment 4</h2></a>
  <a href='../static/techcom/handout.pdf'><h2>Assignment 5</h2></a>
  <a href='../static/techcom/whitepaper.pdf'><h2>Assignment 6</h2></a>
{% endblock %} 
