{% block body %}
  {% include 'header.html' %}
  <Title>Twitter Analytics</Title>
  <h1>Twitter Analytics</h1>
  {% if determine=="No Get" %}
    <h2>Welcome to Twitter Analytics in the form of easily consumable graphs and wordclouds!</h2>
    <h2>Simply pick a date from the calendar and see who were the most active tweeters that day and what words were used the most</h2>
  {% endif %}
  {%if determine=="DNE"%}
    <h2>Ooops. We don't seem to have any analytics for this day, maybe try again. I apologize for this inconvenience, but encourage you to look at other days!</h2>
  {% endif %}
  {% if determine!="DNE" and determine!="No Get" %}
    <img src={% print(determine[0]) %}>
    <img src={% print(determine[1]) %}>
  {% endif %}
  <form id="choosedate" action="{{url_for('twitteranalytics')}}",method=GET>
    <input type="date" name="twitterdate">
    <input type="submit">
  </form>
{% endblock %}
